@import "./style/themes/default";
@import "./style/mixins/index";
.wrap{
    position: relative;
    display: inline-block;
    width:100px;
    height: 100px;
    margin: 10px;
    color: #333;
    text-align: center;
    vertical-align: top;
    .cover{
        max-width: 100%;
        height: 50%;
        margin-bottom: 7px;
    }
    p{
        word-wrap: break-word;
        height: 50%;
    }
}
.inline{
    display: inline-block;
}
.reactcontextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
    .reactcontextmenuitem {
        background: 0 0;
        border: 0;
        color: #373a3c;
        cursor: pointer;
        font-weight: 400;
        line-height: 1.5;
        padding: 3px 20px;
        text-align: inherit;
        white-space: nowrap;
    }
}

.locked{
    position: absolute;
    bottom: 50%;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    background-image: url("http://localhost:1234/cloud/common/ead856158f002.png");
    background-size: 100% 100%;
}